@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    background-color: black;
    color:white;
}; */

.textarea.placeholder-vertical-center::placeholder {
    padding-top: 10%; /* Adjust this as necessary */
}
